@model LearnAjax.Models.Book

@{
    ViewData["Title"] = "Details";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/four.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublisherYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublisherYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCategoryId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Home Page</a>

</div>
